### Importing required libraries

In [35]:
import pandas as pd

### Reading Customer Personality Analysis Dataset

In [36]:
df = pd.read_csv('Customer_Personality_Analysis.csv', header = None)
df.head()

                                                   0
0  ID\tYear_Birth\tEducation\tMarital_Status\tInc...
1  5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
2  2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
3  4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
4  6182\t1984\tGraduation\tTogether\t26646\t1\t0\...

In [37]:
df.shape

(2241, 1)

In [38]:
df = df[0].str.split("\t", expand=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
1,5524,1957,Graduation,Single,58138,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
2,2174,1954,Graduation,Single,46344,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
3,4141,1965,Graduation,Together,71613,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
4,6182,1984,Graduation,Together,26646,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0

In [39]:
df.shape     # rows, columns

(2241, 29)

In [40]:
df.columns = df.iloc[0]
df = df[1:]
df = df.reset_index(drop=True)
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [41]:
df.describe()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240,2240,2240,2240,2240,2240,2240,2240,2240,2240,...,2240,2240,2240,2240,2240,2240,2240,2240,2240,2240
unique,2240,59,5,8,1975,3,3,663,100,776,...,16,2,2,2,2,2,2,1,1,2
top,1448,1976,Graduation,Married,,0,0,31-08-2012,56,2,...,7,0,0,0,0,0,0,3,11,0
freq,1,89,1127,864,24,1293,1158,12,37,42,...,393,2077,2073,2077,2096,2210,2219,2240,2240,1906

### Checking for null value

In [42]:
df.isnull().sum()

0
ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
dtype: int64

### Checking for duplicate rows and dropping them if they exist

In [43]:
df['ID'].duplicated().sum()

np.int64(0)

In [44]:
df.duplicated().any()

np.False_

### Standardizing text values

In [45]:
df["Education"].unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [46]:
df["Marital_Status"].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [47]:
status_map = {
    "Alone": "Single",
    "Absurd": "Single",
    "YOLO": "Single"
}
df["Marital_Status"] = df["Marital_Status"].replace(status_map)

In [48]:
df["Marital_Status"].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow'], dtype=object)

### Renaming column headers to be uniform

In [49]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object', name=0)

In [50]:
df.columns = df.columns.str.strip().str.lower()
df.columns

Index(['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome',
       'teenhome', 'dt_customer', 'recency', 'mntwines', 'mntfruits',
       'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts',
       'mntgoldprods', 'numdealspurchases', 'numwebpurchases',
       'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth',
       'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5', 'acceptedcmp1',
       'acceptedcmp2', 'complain', 'z_costcontact', 'z_revenue', 'response'],
      dtype='object', name=0)

### Fixing data types

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2240 non-null   object
 1   year_birth           2240 non-null   object
 2   education            2240 non-null   object
 3   marital_status       2240 non-null   object
 4   income               2240 non-null   object
 5   kidhome              2240 non-null   object
 6   teenhome             2240 non-null   object
 7   dt_customer          2240 non-null   object
 8   recency              2240 non-null   object
 9   mntwines             2240 non-null   object
 10  mntfruits            2240 non-null   object
 11  mntmeatproducts      2240 non-null   object
 12  mntfishproducts      2240 non-null   object
 13  mntsweetproducts     2240 non-null   object
 14  mntgoldprods         2240 non-null   object
 15  numdealspurchases    2240 non-null   object
 16  numwebpurchases      2240 non-null   object
 17  numcatalogpurchases  2240 non-null   object
 18  numstorepurchases    2240 non-null   object
 19  numwebvisitsmonth    2240 non-null   object
 20  acceptedcmp3         2240 non-null   object
 21  acceptedcmp4         2240 non-null   object
 22  acceptedcmp5         2240 non-null   object
 23  acceptedcmp1         2240 non-null   object
 24  acceptedcmp2         2240 non-null   object
 25  complain             2240 non-null   object
 26  z_costcontact        2240 non-null   object
 27  z_revenue            2240 non-null   object
 28  response             2240 non-null   object
dtypes: object(29)
memory usage: 507.6+ KB

In [52]:
cols = ["id", "year_birth", "income", "kidhome", "teenhome", "recency", "mntwines", "mntfruits",
       "mntmeatproducts", "mntfishproducts", "mntsweetproducts",
       "mntgoldprods", "numdealspurchases", "numwebpurchases",
       "numcatalogpurchases", "numstorepurchases", "numwebvisitsmonth",
       "acceptedcmp3", "acceptedcmp4", "acceptedcmp5", "acceptedcmp1",
       "acceptedcmp2", "complain", "z_costcontact", "z_revenue", "response"]
df[cols] = df[cols].apply(pd.to_numeric, errors="coerce").astype("Int64")

In [53]:
df["dt_customer"] = pd.to_datetime(df["dt_customer"], errors="coerce", dayfirst=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2240 non-null   Int64
 1   year_birth           2240 non-null   Int64
 2   education            2240 non-null   object
 3   marital_status       2240 non-null   object
 4   income               2216 non-null   Int64
 5   kidhome              2240 non-null   Int64
 6   teenhome             2240 non-null   Int64
 7   dt_customer          2240 non-null   datetime64[ns]
 8   recency              2240 non-null   Int64
 9   mntwines             2240 non-null   Int64
 10  mntfruits            2240 non-null   Int64
 11  mntmeatproducts      2240 non-null   Int64
 12  mntfishproducts      2240 non-null   Int64
 13  mntsweetproducts     2240 non-null   Int64
 14  mntgoldprods         2240 non-null   Int64
 15  numdealspurchases    2240 non-null   Int64
 16  numwebpurchases      2240 non-null   Int64
 17  numcatalogpurchases  2240 non-null   Int64
 18  numstorepurchases    2240 non-null   Int64
 19  numwebvisitsmonth    2240 non-null   Int64
 20  acceptedcmp3         2240 non-null   Int64
 21  acceptedcmp4         2240 non-null   Int64
 22  acceptedcmp5         2240 non-null   Int64
 23  acceptedcmp1         2240 non-null   Int64
 24  acceptedcmp2         2240 non-null   Int64
 25  complain             2240 non-null   Int64
 26  z_costcontact        2240 non-null   Int64
 27  z_revenue            2240 non-null   Int64
 28  response             2240 non-null   Int64
dtypes: Int64(26), datetime64[ns](1), object(2)
memory usage: 564.5+ KB

### Dropping columns that are not needed for analysis

In [55]:
df = df.drop(columns=["id"])

Coverting year_birth column to age to make the analysis easier

In [56]:
from datetime import datetime

current_year = datetime.now().year
df['age'] = current_year - df['year_birth']

In [57]:
df = df.drop(columns=["year_birth"])

Converting dt_customer to customer_since_days to find how long they have been a customer

In [59]:
df['customer_since_days'] = (pd.Timestamp.today() - df['dt_customer']).dt.days
df = df.drop(columns=["dt_customer"])

In [60]:
df.head()

,education,marital_status,income,kidhome,teenhome,recency,mntwines,mntfruits,mntmeatproducts,mntfishproducts,...,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response,age,customer_since_days
0,Graduation,Single,58138,0,0,58,635,88,546,172,...,0,0,0,0,0,3,11,1,68,4766
1,Graduation,Single,46344,1,1,38,11,1,6,2,...,0,0,0,0,0,3,11,0,71,4216
2,Graduation,Together,71613,0,0,26,426,49,127,111,...,0,0,0,0,0,3,11,0,60,4415
3,Graduation,Together,26646,1,0,26,11,4,20,10,...,0,0,0,0,0,3,11,0,41,4242
4,PhD,Married,58293,1,0,94,173,43,118,46,...,0,0,0,0,0,3,11,0,44,4264